* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #efefef;
    overflow-x: hidden;
}

header {
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 1000;

}

.hamburger {
    display: flex; 
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    height: 3px;
    width: 25px;
    background-color: #262626;
    margin: 4px 0px;
    transition: 0.4s;
}

.hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg);
    margin: 0;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg);
    margin: 0;
}

.navbar {
    top: 0;
    background-color: #efefef;
    padding: 25px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.logo img {
    padding: 0px 0px;
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: fixed; 
    top: 0;
    left: -250px;
    height: 100%; 
    width: 250px; 
    background-color: #efefef80;
    padding: 20px; 
    padding-top: 80px; 
    transition: left 0.3s ease;
    z-index: 1000;
    backdrop-filter: blur(30px);
}

.nav-links.active {
    left: 0; 
}

.nav-links a {
    text-decoration: none;
    color: #262626;
    font-weight: 600;
    font-size: 1.1rem; 
    transition: color 0.3s, transform 0.3s ease-in-out;
    padding: 10px 15px; 
    margin: 5px 0; 
    display: block; 
}

.nav-links a:hover {
    color: #F0A989;
    transform: scale(1.1);
}
.hero {
    text-align: center;
    background: linear-gradient(#26262680, #26262680), url('Cultura.png') center/cover;
    color: #efefef;
    padding: 360px 40px;
}

.hero h1 {
    font-size: 3.5rem; 
    margin-bottom: 40px;
    font-weight: 700;
    transition: transform 0.3s ease-in-out;
}

.menu-section {
    padding: 144px 120px;
}

.menu-section h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.5rem; 
    color: #F0A989;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

.menu-section h2:hover {
    color: #F0A989;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0;
}

.product {
    background-color: #efefef;
    border-radius: 8px;
    padding: 40px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    filter: brightness(1.1);
}

.product img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.product img:hover {
    transform: scale(1.1);
}

.product h3 {
    margin: 20px 0;
    font-size: 1.8rem;
    font-weight: 600;
}

.product p {
    color: #F0A989;
    font-weight: 700;
    font-size: 1.4rem; 
    margin-top: 20px;
}

.info {
    background-color: #F0A989;
    padding: 100px 20px;
    color: white;
    overflow-x: hidden;
}

.info-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.operational-details, .contact-social {
    flex: 1;
    margin: 0 25px;
}

.operational-details h3, .contact-social h3 {
    font-size: 2rem; 
    margin-bottom: 20px;
    color: #262626;
    font-weight: 700;
}

.operational-details p, .contact-social p {
    font-size: 1.2rem; 
    line-height: 1.8;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-social {
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.social-icon {
    color: #efefef;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: color 0.3s, transform 0.3s;
}

.social-icon i {
    font-size: 2.5rem;
    margin-bottom: 5px;
    transition: transform 0.3s;
}

.social-icon span {
    font-size: 1.1rem;
    font-weight: 500;
}

.social-icon:hover {
    transform: translateY(-5px);
}

footer {
    text-align: center;
    padding: 50px 40px;
    background-color: #F0A989;
    color: #efefef;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 1.2rem; 
    font-weight: 400;
}

@media screen and (max-width: 1024px) {
    .navbar {
        padding: 20px 60px;
    }

    .nav-links {
        gap: 30px;
    }

    .nav-links a {
        font-size: 1rem;
    }

    .hero {
        padding: 480px 30px;
    }

    .hero h1 {
        font-size: 3rem;
    }

    .menu-section {
        padding: 80px 60px;
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .product {
        padding: 30px;
    }

    .product h3 {
        font-size: 1.5rem;
    }

    .info-container {
        padding: 0 30px;
        gap: 20px;
    }
}

@media (max-width: 767px) {
    .navbar {
        padding: 15px 20px;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-links {
        width: 200px;
        left: -200px;
    }

    .nav-links a {
        font-size: 0.9rem;
    }

    .hero {
        padding: 400px 40px;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .menu-section {
        padding: 80px 20px;
    }

    .menu-section h2 {
        font-size: 1.8rem;
        margin-bottom: 25px;
    }

    .product-grid {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .product {
        padding: 20px;
    }

    .product h3 {
        font-size: 1.3rem;
    }

    .product p {
        font-size: 1rem;
    }

    .info {
        padding: 50px 20px;
    }

    .info-container {
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

    .operational-details, .contact-social {
        margin: 0 0 30px 0;
    }

    .operational-details h3, .contact-social h3 {
        font-size: 1.7rem;
    }

    .operational-details p, .contact-social p {
        font-size: 0.9rem;
    }

    .social-links {
        gap: 15px;
    }

    .social-icon i {
        font-size: 1.8rem;
    }

    .social-icon span {
        font-size: 0.85rem;
    }

    footer {
        padding: 25px 15px;
        font-size: 0.85rem;
    }
}
